<font size="3" color="brown">Author : UTSAV AWASTHI</font><br>
<font size="1" color="brown">About Me: http://iamawesome.com/ </font> <br>
Subscribe to my YouTube channel <a href="https://www.youtube.com/channel/UCJpp55YcP5swWj8TmIOd0OA/">here</a><br> 
For serious conversations related to career and jobs, follow me on <a href="https://www.linkedin.com/in/utsavawasthi/">LinkedIn</a><br>
For low-effort dank memes and one-liners, follow me on <a href="https://twitter.com/utsavsaidwhat">Twitter</a>

<div align="center">
    <font size = 3 color="orange" style="font-family: 'Comic Sans MS'">// ज्ञानं परमं बलम् //</font><br>
</div>
<img src = "https://www.python.org/static/community_logos/python-logo-master-v3-TM.png" width="50%" height="50%">
<div align="center" id="contents"> <font size="5" color="orange"><b>PYTHON PROGRAMMING LANGUAGE</b></font> </div>

<div align="left"> <font size="4" color="red"><b>TABLE OF CONTENTS</b></font> </div>
<ol type="square">
    <li><a href="#intro">Introduction
    <li><a href="#datatype">Data types and Operations</a></li>
    <li><a href="#variables">Variables and Collections</a></li>
</ol>

<div align="left" id="intro"><a href="#contents"><font size="4" color="red"><b>INTRODUCTION</b></font></a></div>

<b>Q1.</b> Write a code to check which Python version you are using.

In [1]:
import sys
print(sys.version)

3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]

<div align="left" id="datatype"><a href="#contents"><font size="4" color="red"><b>DATA TYPE AND OPERATIONS</b></font>

<b>Q2.</b> Among the data types you have learned, which ones are mutable? Create a mutable object and write a code to edit it

In [2]:
#list, dict, set are mutable objects
x = [1,2,3]
print("Before edit x is:", x)
x[0] = "new"
print("After edit x is:", x)

Before edit x is: [1, 2, 3]
After edit x is: ['new', 2, 3]

<b>Q3.</b> Among the data types you have learned, which ones are immutable? Create an immutable object and write a code to edit it to show that it throws an error

In [3]:
#int, float, complex, string, tuple are immutable objects
y = (1,2,3)
y[0] = "new"

TypeError: 'tuple' object does not support item assignment

<b>Q4.</b> Write a code to show Python does not create new copies of a variable in a new memory location

In [4]:
x=[1,2,4]
print ("Location of x",id(x), "\tValue of x", x) #id() function tells you the location of a variable in memory

Location of x 2008264082440 	Value of x [1, 2, 4]

In [5]:
y=x
print ("Location of y",id(y), "\tValue of y", y)

Location of y 2008264082440 	Value of y [1, 2, 4]

<b>Q5.</b> Write a code to show copies of a mutable variable will be changed if any changes are made to the original variable

In [6]:
x[0] = "new"
print("x is:", x," and y is:", y)

x is: ['new', 2, 4]  and y is: ['new', 2, 4]

<div align="left" id="variables"><a href="#contents"><font size="4" color="red"><b>VARIABLES AND COLLECTIONS</b></font></a></div>
<ol type="square">
    <li><a href="#variables_lists">Lists</a></li>
    <li><a href="#variables_tuples">Tuples</a></li>
    <li><a href="#variables_dict">Dictionaries</a></li>
    <li><a href="#variables_sets">Sets</a></li>
    <li><a href="#variables_sets">Strings</a></li>
</ol>

<div align="left"  id="variables_lists"><a href="#variables"><font size="3" color="black"><b>Lists</b></font><a></div>

<b>Q6.</b> Create a list variable "a" with four elements each belonging to different data-types (i.e. int, float, string, boolean etc)

In [7]:
a = [1,1.25,"new",True]
print(a)

[1, 1.25, 'new', True]

<b>Q7.</b> Write code to reverse the list "a" created above

In [8]:
a[::-1]

[True, 'new', 1.25, 1]

<b>Q8.</b> Write code to interchange the first and the last element of the list "a" created above. e.g. if a = [1,2,3,4], print [4,2,3,1]

In [9]:
a[0], a[-1] = a[-1], a[0]
print(a)

[True, 1.25, 'new', 1]

<b>Q9.</b> You are given x = [1,2,3] and y = [4,5,6]. Write a code to <u><i>extend</i></u> "x" with "y" and also another code to <u><i>append</i></u> "y" to "x". Understand the difference between <u><i>append</i></u> and <u><i>extend</i></u>

In [10]:
x = [1,2,3]
y = [4,5,6]
x.append(y)
print(x)

[1, 2, 3, [4, 5, 6]]

In [11]:
x.extend(y)
print(x)

[1, 2, 3, [4, 5, 6], 4, 5, 6]

<b>Q10.</b> Create a list b = [1,2,3,4,5,6,7,8,9,10]. Using this list, write a code to print following:<br>
<ol>
    <li>[7,8,9,10]</li>
    <li>[1,2,3,4,5]</li>
    <li>[2,5,8]</li>
    <li>[10,9,8,7]</li>
    <li>[9,7,5]</li>
</ol>

In [12]:
b = [1,2,3,4,5,6,7,8,9,10]
print(b[6:])
print(b[:5])
print(b[1:8:3])
print(b[9:5:-1])
print(b[8:3:-2])

[7, 8, 9, 10]
[1, 2, 3, 4, 5]
[2, 5, 8]
[10, 9, 8, 7]
[9, 7, 5]

<b>Q11.</b> Create a list c = [1,2,[3,4,[5,6]],[7,[8,9],10]]. Using this list, write a code to print following in seperate lines:<br>
<ul>
    <li>2</li>
    <li>4</li>
    <li>6</li>
    <li>9</li>
    <li>10</li>
</ul>

In [13]:
c = [1,2,[3,4,[5,6]],[7,[8,9],10]]
print(c[1])
print(c[2][1])
print(c[2][2][1])
print(c[3][1][1])
print(c[3][2])

2
4
6
9
10

<b>Q12.</b> Create a list d = [4,3,2,1,5,8,9]. Google how you can do the following:<br>
<ul>
    <li>print length of the list</li>
    <li>print max element inside the list i.e. 9</li>
    <li>print min element inside the list i.e. 1</li>
    <li>sort this list in ascending order and print [1,2,3,4,5,8,9]</li>
    <li>sort this list in descending order and print [9,8,5,4,3,2,1]</li>
</ul>

In [14]:
d = [4,3,2,1,5,8,9]
print(len(d))
print(max(d))
print(min(d))
d.sort()
print(d)
d.sort(reverse=True)
print(d)

7
9
1
[1, 2, 3, 4, 5, 8, 9]
[9, 8, 5, 4, 3, 2, 1]

<div align="left"  id="variables_tuples"><a href="#variables"><font size="3" color="black"><b>Tuples</b></font></a></div>

<b>Q13.</b> Create two tuples a = (1,2), b = (3,4). Swap the values i.e. b should be (1,2) and a should be (3,4)

In [15]:
a,b = (1,2), (3,4)
print("Before a=",a," b=",b)
a,b = b,a
print("After a=",a," b=",b)

Before a= (1, 2)  b= (3, 4)
After a= (3, 4)  b= (1, 2)

<div align="left"  id="variables_dict"><a href="#variables"><font size="3" color="black"><b>Dictionaries</b></font></a></div>

<b>Q14.</b> You are given following two lists:<br>
    names = ["Rahul","Venkat","Rahim","Manpreet"]<br>
    PCM_marks = [[100, 94, 96],[95, 98, 90],[99, 84, 93],[89, 97, 92]]<br>
Convert these two lists into a dictionary with "names" as keys and "PCM_marks" as values(PCM = Physics, Chemistry, Maths)

In [16]:
names = ["Rahul","Venkat","Rahim","Manpreet"]
PCM_marks = [[100, 94, 96],[95, 98, 90],[99, 84, 93],[89, 97, 92]]
exam = dict(zip(names, PCM_marks))
print(exam)

{'Rahul': [100, 94, 96], 'Venkat': [95, 98, 90], 'Rahim': [99, 84, 93], 'Manpreet': [89, 97, 92]}

<b>Q15.</b> Change marks obtained by "Manpreet" to [88, 98, 93]. Print the dictionary

In [17]:
exam["Manpreet"] = [88,98,93]
print(exam)

{'Rahul': [100, 94, 96], 'Venkat': [95, 98, 90], 'Rahim': [99, 84, 93], 'Manpreet': [88, 98, 93]}

<b>Q16.</b> Change marks obtained by "Rahim" in Physics from 99 to 97. Print the dictionary

In [18]:
exam["Rahim"][0] = 97
print(exam)

{'Rahul': [100, 94, 96], 'Venkat': [95, 98, 90], 'Rahim': [97, 84, 93], 'Manpreet': [88, 98, 93]}

<b>Q17.</b> Everyone - Rahul, Venkat, Rahim and Manpreet - obtained 100 marks in Physical Education. Add this to everyone's list for marks obtained e.g. for Rahul the dictionary will show [100,94,96,100] as marks obtained. Print the dictionary

In [19]:
exam["Rahul"].append(100)
exam["Venkat"].append(100)
exam["Rahim"].append(100)
exam["Manpreet"].append(100)
print(exam)

{'Rahul': [100, 94, 96, 100], 'Venkat': [95, 98, 90, 100], 'Rahim': [97, 84, 93, 100], 'Manpreet': [88, 98, 93, 100]}

<b>Q18.</b> Print marks obtained by every student. Who got the highest marks?

In [20]:
print("Rahul obtained",sum(exam["Rahul"]), "marks")
print("Venkat obtained",sum(exam["Venkat"]), "marks")
print("Rahim obtained",sum(exam["Rahim"]), "marks")
print("Manpreet obtained",sum(exam["Manpreet"]), "marks")

Rahul obtained 390 marks
Venkat obtained 383 marks
Rahim obtained 374 marks
Manpreet obtained 379 marks

<div align="left"  id="variables_sets"><a href="#variables"> <font size="3" color="black"><b>Sets</b></font></a></div>

<b>Q19.</b> Create a list e = [1,2,2,3,5,6,7,7]. Remove duplicate elements from this list and print the output list
<div align="right">
<a href="#createvar" class="btn btn-default" data-toggle="collapse">Click here for hint</a>
</div>
<div id="createvar" class="collapse">
You can first convert "e" to a set using set() function and then back to list using list() function
</div>

In [21]:
e = [1,2,2,3,5,6,7,7]
print(list(set(e)))

[1, 2, 3, 5, 6, 7]

<b>Q20.</b> You are given two Python lists [1,2,3,4] and [4,5,6,7]. Print the common elements in the two lists using sets
<div align="right">
<a href="#createvar1" class="btn btn-default" data-toggle="collapse">Click here for hint</a>
</div>
<div id="createvar1" class="collapse">
Google to find the set method which gives you the intersection of two sets
</div>

In [22]:
list(set([1,2,3,4]).intersection(set([4,5,6,7])))

[4]

<div align="left"  id="variables_strings"><a href="#variables"> <font size="3" color="black"><b>Strings</b></font></a></div>

<b>Q21.</b> Create a string s = "Python is Magic!". Using this string, write a code to print following:<br>
<ol>
    <li>hon i</li>
    <li>i noh</li>
    <li>!cigaM</li>
    <li>reverse the string "s"</li>
</ol>

In [23]:
s = "Python is Magic!"
print(s[3:8])
print(s[3:8][::-1])
print(s[:8:-1])
print(s[::-1])

hon i
i noh
!cigaM
!cigaM si nohtyP

<b>Q22.</b> Using the string "s" and your googling skills, do the following<br>
<ol>
    <li>Convert "s" to lowercase and print it</li>
    <li>Convert "s" to uppercase and print it</li>
    <li>Find at which location/index "M" occurs</li>
    <li>Find at which location/index "th" occurs</li>
    <li>Check if "s" only has alphabets</li>
    <li>Replace "Magic" with "Best"</li>
    <li>Split "s" into a list ["Python", "is", "Magic!"]</li>
</ol>

In [24]:
print(s.lower())
print(s.upper())
print(s.find("M"))
print(s.find("th"))
print(s.isalpha())
print(s.replace("Magic","Best"))
print(s.split())

python is magic!
PYTHON IS MAGIC!
10
2
False
Python is Best!
['Python', 'is', 'Magic!']

<font size = 10 color="green">"</font><br>
<div align = center> 
    <font size = 5 color="green" style="font-family: 'Comic Sans MS'">Pass on what you have learned</font><br>
</div>
<div align = right> 
    <font size = 10 color="green"t>"</font><br>
</div>
<img align = "right" src = "https://orig00.deviantart.net/ff5e/f/2013/102/4/4/yoda_by_valval-d61g9rh.png" width="20%" height="20%">